/* html {} */

html,
body {
    min-height: 100vh;
    height: 100%;
}

.logo {
    font-weight: bold;
}

.login-form-wrap {
    background-color: gainsboro;
    margin: auto;
    width: 80%;
    max-width: 650px;
    padding: 1rem;
    position: relative;
    margin-top: 20%;
    margin-bottom: 20%;
}

.map-header {
    margin-bottom: 0;
}

.map-container {
    height: calc(100vh - 60px);
}

.phone-map {
    width: 100%;
    height: 100%;
}

.where-title {
    font-size: 2rem;
}
